@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    font-size: 16px; /* Default font size for the body */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

h1{
    font-size: 26px;
}

h2 {
    color: #3498db;
    font-size: 24px; /* Adjust the heading font size */
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 16px; /* Adjust the paragraph font size */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 16px; /* Adjust the link font size */
}

a:hover {
    color: #2574a9;
}
